.card-image-top {
    padding-top: 20px;
    width: 350px;
    height: 335px;
    border: none;
  }
  
  .container{
    width: 400px;
  }
  
  .card{
      margin-top: 35px;;
      padding: 10px;
      padding-bottom: 40px;
    border: none;
    align-items: center;
    font-weight: lighter;
    -webkit-box-shadow: 2px 2px 2px 2px rgb(220, 220, 220); 
    -moz-box-shadow:    2px 2px 2px 2px #ccc;  
    box-shadow:         2px 2px 2px 2px #ccc;  

  
  }
  .title{
    font-weight: lighter;
    color: gray;
  }
  .card--text{
    font-weight: lighter;
    margin: 15px;
    margin-bottom: 0px;
  }