.search input {
  background-color: rgb(243, 240, 240);
  border: 0;
  opacity: 10;
  border-radius: 10px;
  font-size: 20px;
  padding: 15px;
  height: 45px;
  width: 400px;
  margin-top: 1px;
}

.btn {
  display: inline;
  margin-top: 100px;
  background-color: white;
  background-color: transparent;
  color: rgb(5, 5, 5);
  border: none;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  height: 45px;
  width: 70px;
}

ul {
  list-style: none;
  font-size: 15px;
  margin-top: 20px;
}

.box {
  margin-top: 15px;
  display: inline-block;
  background-color: rgb(253, 250, 250);
  opacity: 0.5;
  border-radius: 10px;
  position: relative;
  padding: 12px;
  text-align: center;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  position: relative;
}
