.geo--card {
  margin: 0px;
  padding-top: 0px;
  width: 160px;
  height: 160px;
  text-align: center;
  position: relative;
  font-family: inherit;
}

.geo--btnn {
  text-align: center;
  background-color: white;
  background-color: transparent;
  color: rgb(5, 5, 5);
  border: none;
  padding: 0px 0px;
  margin: 5px;
  font-size: 15px;
  font-family: inherit;
  height: 45px;
  width: 100px;
  margin-bottom: 18px;
}
