.geo--card{
    margin: 0px;
    padding-top: 0px;
    border-radius: 10px;
    width: 160px;
    height: 160px;
    text-align: center;
    position: relative; 
    font-family: inherit;
    
   
    
    
}
.geo--btnn{
    border-radius: 10px;
    text-align: center;
    background-color: white;
    background-color: transparent;
    color: rgb(5, 5, 5);
    border: none;
    padding: 0px 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    height: 45px;
    width: 100px;
    
}