@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.App-header {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 20px;
  background-color: white;
  opacity: 0.7;
  border-radius: 10px;
  margin: 10px;
  padding: 28px;
}

body {
  background: url(https://images.unsplash.com/photo-1436491865332-7a61a109cc05?ixlib)
    no-repeat;

  -webkit-background-size: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cities {
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  flex-wrap: wrap;
  position: sticky;
}

.snowstorm {
  font-weight: lighter;
  color: white;
  font-size: 60px;
}
